.movie-filter{
    position: relative;
    margin-left: 70px;
    margin-right: 80px;
    cursor: pointer;
}

.filter-active{
    position: absolute;
    z-index: 1;
    background-color: white;
}

.filter-icon{
    height: 40px !important;
    width: 40px !important;
}

.filter-options{
    height: auto;
    width: 100%;
    background-color: white;
    margin: 15px;
    border: black 3px solid;
    border-radius: 50px;
    border-top-left-radius: 0px !important;
}

.filter-button{
    width: 200px;
    height: 40px;
    margin-left: 160px;
    margin-top: 10px;
    border-radius: 30px;
    color: white;
    background-color: rgba(255, 166, 0, 0.614);
}

.filter-button:hover{
    background-color: orange;
}